.v-popper {
  $self: &;

  width: max-content;

  &__inner {
    position: relative
  }

  &__arrow-container {
    width: 10px;
    height: 10px
  }

  &__arrow {
    border-style: solid;
    position: relative;
    width: 0;
    height: 0
  }

  &--theme-dropdown {
    #{$self}__inner {
      background: #fff;
      color: #000;
      padding: 24px;
      border-radius: 6px;
      box-shadow: 0 6px 30px rgba(0, 0, 0, .1)
    }

    #{$self}__arrow {
      border-color: #fff
    }
  }

  &--theme-tooltip {
    #{$self}__inner {
      padding: 6px 10px 5px;
      @apply text-sm rounded;
      @apply text-white bg-primary-700;
    }

    #{$self}__arrow {
      @apply border-primary-700;
    }
  }

  &__popper {
    z-index: 10000;

    &--hidden {
      visibility: hidden;
      opacity: 0;
      transition: opacity .15s, visibility .15s
    }

    &--shown {
      visibility: visible;
      opacity: 1;
      transition: opacity .15s
    }

    &--skip-transition,
    &--skip-transition > #{$self}__wrapper {
      transition: none !important
    }

    &[data-popper-placement^=top] #{$self}__arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important
    }

    &[data-popper-placement^=bottom] #{$self}__arrow-container {
      top: 0
    }

    &[data-popper-placement^=bottom] #{$self}__arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px
    }

    &[data-popper-placement^=right] #{$self}__arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px
    }

    &[data-popper-placement^=left] #{$self}__arrow-container {
      right: -5px
    }

    &[data-popper-placement^=left] #{$self}__arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px
    }
  }
}
